<!DOCTYPE html>
<html>
  <head>
    <title>W2TRADE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Lighthouse Details -->
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#C50001"/>
    <!-- Provides link to apple-touch-icon -->
    <link rel="apple-touch-icon" sizes="180x180" href=" /icons/wt-apple-icon-180.png"> 
    <!-- Adds Favicon icon  -->
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
